= haml :title
.page-content
  .container
    = preserve Kramdown::Document.new(@page.content, :coderay_line_numbers => nil, :smart_quotes => ['apos','apos','quot','quot']).to_html
    = haml :comments