.page-title-block
  .container
    %h1< #{@page.metadata.title}
    %p.subtext< #{@page.metadata.subtext}
    - if @page.include_date_and_author?
      %p.posted< Posted #{@page.formatted_date} by #{@page.metadata.author}